#  ▄▄▄       ██▓     ██▓ ▄▄▄        ██████ ▓█████   ██████ 
# ▒████▄    ▓██▒    ▓██▒▒████▄    ▒██    ▒ ▓█   ▀ ▒██    ▒ 
# ▒██  ▀█▄  ▒██░    ▒██▒▒██  ▀█▄  ░ ▓██▄   ▒███   ░ ▓██▄   
# ░██▄▄▄▄██ ▒██░    ░██░░██▄▄▄▄██   ▒   ██▒▒▓█  ▄   ▒   ██▒
#  ▓█   ▓██▒░██████▒░██░ ▓█   ▓██▒▒██████▒▒░▒████▒▒██████▒▒
#  ▒▒   ▓▒█░░ ▒░▓  ░░▓   ▒▒   ▓▒█░▒ ▒▓▒ ▒ ░░░ ▒░ ░▒ ▒▓▒ ▒ ░
#   ▒   ▒▒ ░░ ░ ▒  ░ ▒ ░  ▒   ▒▒ ░░ ░▒  ░ ░ ░ ░  ░░ ░▒  ░ ░
#   ░   ▒     ░ ░    ▒ ░  ░   ▒   ░  ░  ░     ░   ░  ░  ░  
#       ░  ░    ░  ░ ░        ░  ░      ░     ░  ░      ░  
                                              
#                   Franklin Souza
#                      @frannksz

# =======================================
#                GIT                    
# =======================================
alias gc='git clone'
alias gs='git status'
alias ga='git add'
alias gd='git diff | less'
alias gr='git restore --staged'
alias gm='git commit -m'
alias gp='git push origin main'

# =======================================
#            PACMAN/SNAPSHOTS                    
# =======================================
alias asp="$HOME/.local/bin/arch_snapshot"
alias add='sudo $HOME/.local/bin/snap-pac'
alias up='sudo $HOME/.local/bin/arch_update_snapshot '
alias pkg='pacman -Ss'
alias rs="sudo $HOME/.local/bin/remove_snapshot"
alias del='sudo pacman -Rns'
alias cache='ls /var/cache/pacman/pkg | wc -l && du -sh /var/cache/pacman/pkg'
alias plog='cat /var/log/pacman.log | grep "installed\|upgraded" | less'

# =======================================
#               SYSTEMD                    
# =======================================
alias sf="systemctl --failed"
alias status="systemctl status"
alias on="sudo systemctl enable"
alias stop="sudo systemctl stop"
alias off="sudo systemctl disable"
alias restart="sudo systemctl restart"
alias logs="journalctl --vacuum-time=1w"

# =======================================
#               OUTROS                    
# =======================================
alias won='source activate'
alias woff='deactivate'
alias vk='mangohud VK_INSTANCE_LAYERS=VK_LAYER_MESA_overlay vkcube'
alias ptam='df -h /dev/sdb1'
alias iso='df -h /dev/sdb'
alias ls='lsd'
alias lsa='lsd -lha'
alias pdf='$HOME/.projects/Zathura-Pywal/zathura'
alias ug='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias fonts='clear && kitty list-fonts'
alias py3='python3'
alias hd1='clear && sudo hdsentinel'
alias hd2='clear && sudo smartctl -a /dev/sda'
alias disks='clear && echo "╓───── d i s k . u s a g e"; echo "╙────────────────────────────────────── ─ ─ ";
 df -h;'
alias usb='lsusb'
alias q='exit'
alias rice='clear && curl -L "https://git.io/rice"'
alias c='clear'
alias sts='curl -fsSL https://starship.rs/install.sh | sh'
alias ytd='$HOME/Scripts/ytdown.sh'
alias pasters='$HOME/Scripts/paste.sh'
alias pass='$HOME/Scripts/senha.sh'
alias senha='python3 $HOME/Scripts/pass.py'
alias tg="tetriscurses"
alias delt="rm -rf ~/Downloads/Telegram\ Desktop"
alias img="kitty +kitten icat"
alias p="p10k configure"
alias pyv="~/Scripts/pyvenv.sh"
alias list="clear && sudo btrfs subvolume list /"
alias inf="clear && inxi -bGI"
alias dm="sudo dmesg"
alias st="clear && speedtest"
alias rom="$HOME/Scripts/StockROM.sh"
alias pyroot="sudo cp -r $HOME/.cache/wal /root/.cache"
alias j="archlinux-java status"
alias gpu="lspci -k | grep -EA2 "VGA""
alias less='nvim -R'
alias aid="stat -c %w /"
alias podm='~/Scripts/pod.sh'
alias grep='grep --color=auto'
alias bkpc='sudo ~/Scripts/backup-completo.sh'
alias bt='journalctl -xeb | less'
alias gh="$HOME/Scripts/gh.sh"
alias cel='$HOME/Scripts/cel-mount.sh'
alias cel1='$HOME/Scripts/scrcpy-cli.sh'
alias cel2='cel_mount'
alias yt='ytfzf --pages=30 -t "$@"'
alias m='$HOME/.local/bin/minecoord.sh'
alias fh='watch free -h'
alias h='htop'
alias tam='du -h'
alias s='$HOME/Scripts/sysfetch.sh'
alias sht='$HOME/Scripts/short.sh'
alias pendrive='sudo $HOME/.local/bin/pendrive'
alias neofetch='fastfetch'
alias mirror='sudo $HOME/.local/bin/mirror'
alias hc='hyprctl clients'
alias fetch1='clear && python3 ~/Scripts/sysinfo.py'
alias g='clear && gruvbox-factory -i "$@"'
alias irc='irssi'
alias vph='ssh -p 7990 frannksz@vaporhole.xyz'
alias conv='$HOME/Scripts/converter.sh'
alias tv='mpv --script-opts=iptv=1 "$@"'
alias ds2='$HOME/Scripts/ds2-bkp.sh'
alias contas='cd $HOME/Franks/Projetos/Python/Manager && python3 manager.py && cd'
alias compras='cd $HOME/Franks/Projetos/Python/Compras && python3 compras.py && cd '
